body{
  overflow: hidden;
}
section #main{
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
div.con{
  height: 100%;
  width: 100%;
  display: none;
}
.uni{
  background-color: blue;
}
.club{
  background-color: brown;
}
.club2{
  background-color: turquoise;
}
.om1s{
  background-color: darkgreen;
}
.rumah{
  background-color: violet;
}
/*this is the bubble section*/
.beak{
  overflow: hidden;
  height: 100%;
  text-align: center;
}
.container{
  margin:3rem;
  display: grid;
}
.bub{
  margin: 2rem auto;
  border-radius: 50%;
  border: 1px solid black;
}
/*this is the resposive section*/
@media only screen and (max-width:600px){
  .bub{
    height: 60px;
    width: 60px;
  }
  .om1scorn,.club2corn,.clubcorn,.unicorn{
    margin:2rem;
    grid-template-columns: auto auto auto;
  }
  .rumahcorn{
    margin: 2rem;
  }
  button{
    top: 50%;
    z-index: 0;
    opacity: 0.5;
    position: absolute;
  }
  .leftbtn{
  }
  .rightbtn{
    left: 98%;
  }
}

@media only screen and (min-width:601px) {
  .bub{
    height: 100px;
    width:100px;
  }
  .clubcorn,.unicorn,.rumahcorn{
    margin: 4.4rem;
    grid-template-columns: auto auto auto auto;
  }
  .om1scorn,.club2corn{
    margin: 4.4rem;
    grid-template-columns: auto auto auto;
  }
  button{
    top: 50%;
    z-index: 0;
    opacity: 0.5;
    position: absolute;
  }
  .leftbtn{
  }
  .rightbtn{
    left: 98%;
  }
}
/*this is the button section*/
